<div class="activities">
    <div class="activities__header">
        <h2>Top Hosts</h2>
    </div>
    
    <div class="host__wrapper">
        <a href="/profile/dennisivy/" class="roomListRoom__author">
            <div class="avatar avatar--large">
                <img src="https://studybud.s3.amazonaws.com/dennis.jpg">
            </div>           
            <h4 style="color: aliceblue;">Dennis Ivy</h4>
        </a>
        
        <a href="/profile/dennisivy/" class="roomListRoom__author">
            <span class="host__follow">Follow</span>
           </a>
        
    </div>
    
    <div class="host__wrapper">
        <a href="/profile/123/" class="roomListRoom__author">
            <div class="avatar avatar--large">
                <img src="https://studybud.s3.amazonaws.com/avatar.svg">
            </div>           
            <h4 style="color: aliceblue;">123</h4>
        </a>
        
        <a href="/profile/123/" class="roomListRoom__author">
            <span class="host__follow">Follow</span>
           </a>
        
    </div>
    

</div>
<br>