
        <div class="topics">
          <div class="topics__header">
            <h2>Browse Topics</h2>
          </div>
          <ul class="topics__list">
            <li>
              <a href="{% url 'home' %}" class="active">All <span>{{topics.count}}</span></a>
            </li>
            {% for topic in topics %}
            <li>
              <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}} ({{topic.room_set.all.count}})
                <form id="followForm" action="{% url 'follow-topic' %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{ request.user.username }}" name="follower" />
                  <input type="hidden" value="{{ topic.name }}" name="topic_name" />
                  <button id="followButton" class="topic-follow" data-action="follow" data-id="da8d6b51-253b-496e-9a22-31f70397ee69" data-url="/?q={{topic.name}}">Follow</button>
                </form>
              </a>
            </li>
            {% endfor %}
          </ul>
          <a class="btn btn--link" href="{% url 'topics' %}">
            More
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>chevron-down</title>
              <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
            </svg>
          </a>
        </div>